.ln__watermark {
  position: absolute;
  left: 16px;
  bottom: calc(env(safe-area-inset-bottom, 16px) + 16px);
  height: 52px;
  width: auto;
  opacity: .75;
  pointer-events: auto;
  filter: drop-shadow(0 4px 14px rgba(0,0,0,.5));
  z-index: 5;
}
